<div class="container">
    
    <div class="jumbotron">
        <h1 class="display-3">About</h1>

        <p>
            <img src="assets/images/_profile.jpg" alt="No image available" class="img-thumbnail float-left">
        </p>

        <h2 class="display-5">About me</h2>

        <p class="lead"> 
            Hello there, my name is Gabriel Cyr and I currently work as a backend Spring developer in Montreal, Qc, Canada.
            When I'm not coding I like to play board & video games, read horror fiction, learn new languages and play badminton.
        </p>

        <hr>

        <h2 class="display-5">About the site</h2>
            
        <p class="lead">
            This blog site is an Angular project powered by the Scully Static Site Generator.
        </p>
    </div>
</div>