<header>
  <nav class="navbar navbar-expand-lg static-top navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Posts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngFor="let post of posts$ | async">
            <a class="dropdown-item" [routerLink]="post.route">{{ post.title }}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Articles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngFor="let article of articles$ | async">
            <a class="dropdown-item" [routerLink]="article.route">{{ article.title }}</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container" id="app-body">
  <router-outlet></router-outlet>
</div>